*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#6F4E37,#A67B5B);
}

.login-box{

    width:420px;

    background:#fff;

    padding:40px;

    border-radius:20px;

    box-shadow:0 20px 50px rgba(0,0,0,.2);

    text-align:center;

}

.logo{

    width:90px;

    margin-bottom:15px;

}

.login-box h1{

    color:#6F4E37;

    margin-bottom:8px;

}

.login-box p{

    color:#777;

    margin-bottom:30px;

}

.input-group{

    margin-bottom:20px;

}

.input-group input{

    width:100%;

    padding:15px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:15px;

    transition:.3s;

}

.input-group input:focus{

    border-color:#6F4E37;

    box-shadow:0 0 8px rgba(111,78,55,.3);

    outline:none;

}

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:10px;

    background:#6F4E37;

    color:white;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#A67B5B;

}

.footer{

    margin-top:20px;

    color:#888;

    font-size:13px;

}
